commands:
  01_install_erlang:
    command: "wget https://packages.erlang-solutions.com/erlang-solutions-2.0-1.noarch.rpm && rpm -Uvh erlang-solutions-2.0-1.noarch.rpm && yum install erlang -y"
    test: "! rpm -q erlang"
  02_install_socat:
    command: "yum install socat -y"
    test: "! rpm -q socat"
  03_install_rabbitmq:
    command: "wget https://github.com/rabbitmq/rabbitmq-server/releases/download/v3.8.8/rabbitmq-server-3.8.8-1.el6.noarch.rpm && rpm --import https://www.rabbitmq.com/rabbitmq-signing-key-public.asc && rpm -Uvh rabbitmq-server-3.8.8-1.el6.noarch.rpm"
    test: "! rpm -q rabbitmq-server"
  04_enable_rabbitmq:
    command: "systemctl enable rabbitmq-server"
  05_start_rabbitmq:
    command: "systemctl start rabbitmq-server"
  06_enable_management_plugin:
    command: "rabbitmq-plugins enable rabbitmq_management"