commands:
  01_install_erlang:
    command: "yum install -y https://packages.erlang-solutions.com/erlang-solutions-2.0-1.noarch.rpm && yum install -y erlang"
    test: "! rpm -q erlang"
  02_add_rabbitmq_repo:
    command: "rpm --import https://www.rabbitmq.com/rabbitmq-release-signing-key.asc && curl -s https://packagecloud.io/install/repositories/rabbitmq/rabbitmq-server/script.rpm.sh | bash"
    test: "! rpm -q rabbitmq-server"
  03_install_rabbitmq:
    command: "yum install -y rabbitmq-server"
    test: "! rpm -q rabbitmq-server"
  04_enable_rabbitmq:
    command: "systemctl enable rabbitmq-server"
  05_start_rabbitmq:
    command: "systemctl start rabbitmq-server"
  06_enable_management_plugin:
    command: "rabbitmq-plugins enable rabbitmq_management"